# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [3]:
# Create the Urban city DataFrame. Creating a bubble chart.
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [4]:
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
suburban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,2019-01-27 03:08:01,27.79,6653622887913,11,Suburban
1626,East Kentstad,2019-04-07 19:44:19,18.75,6575961095852,20,Suburban
1627,Lake Omar,2019-01-17 21:33:35,21.71,966911700371,22,Suburban
1628,Myersshire,2019-02-27 17:38:39,17.10,5706770909868,19,Suburban
1629,West Hannah,2019-04-19 01:06:59,37.78,2273047151891,12,Suburban

In [5]:
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
rural_cities_df.head()

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,2019-04-13 11:13:31,43.22,1076079536213,9,Rural
2251,North Holly,2019-02-02 14:54:00,12.42,1985256326182,8,Rural
2252,Michaelberg,2019-03-27 18:27:34,54.85,4421836952718,6,Rural
2253,Lake Latoyabury,2019-02-23 21:12:24,47.90,3269652929887,2,Rural
2254,Lake Latoyabury,2019-05-06 08:57:56,51.80,4018025271936,2,Rural

## Deliverable 1: Get a Summary DataFrame

In [6]:
#  1. Get the total rides for Urban City type
# total rides for Urban City type
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_count.head()

city
Amandaburgh        18
Barajasview        22
Carriemouth        27
Christopherfurt    27
Deanville          19
Name: ride_id, dtype: int64

In [7]:
# total rides for Suburban City type
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count.head()

city
Barronchester    16
Bethanyland      18
Brandonfort      19
Colemanland      22
Davidfurt        17
Name: ride_id, dtype: int64

In [8]:
# total rides for Rural City type
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count.head()

city
Bradshawfurt      10
Garzaport          3
Harringtonfort     6
Jessicaport        6
Lake Jamie         6
Name: ride_id, dtype: int64

In [9]:
#Sum of total ride count
total_ride_count = pd.DataFrame({
            "Urban": urban_ride_count,
            "Suburban": suburban_ride_count,
            "Rural": rural_ride_count})

print(total_ride_count)

                  Urban  Suburban  Rural
Amandaburgh        18.0       NaN    NaN
Barajasview        22.0       NaN    NaN
Barronchester       NaN      16.0    NaN
Bethanyland         NaN      18.0    NaN
Bradshawfurt        NaN       NaN   10.0
...                 ...       ...    ...
West Robert        31.0       NaN    NaN
West Samuelburgh   25.0       NaN    NaN
Williamsonville     NaN      14.0    NaN
Williamsstad       23.0       NaN    NaN
Williamsview       20.0       NaN    NaN

[120 rows x 3 columns]

In [10]:
# 2. total drivers for the Urban city type
urban_driver_count = urban_cities_df.groupby(["city"]).count()["driver_count"]
urban_driver_count.head()

city
Amandaburgh        18
Barajasview        22
Carriemouth        27
Christopherfurt    27
Deanville          19
Name: driver_count, dtype: int64

In [11]:
# total drivers for the Suburban city type
suburban_driver_count = suburban_cities_df.groupby(["city"]).count()["driver_count"]
suburban_driver_count.head()

city
Barronchester    16
Bethanyland      18
Brandonfort      19
Colemanland      22
Davidfurt        17
Name: driver_count, dtype: int64

In [12]:
# total drivers for the Rural city type
rural_driver_count = rural_cities_df.groupby(["city"]).count()["driver_count"]
rural_driver_count.head()

city
Bradshawfurt      10
Garzaport          3
Harringtonfort     6
Jessicaport        6
Lake Jamie         6
Name: driver_count, dtype: int64

In [13]:
#Sum of total driver count
total_drivers = pd.DataFrame({
            "Urban": urban_driver_count,
            "Suburban": suburban_driver_count,
            "Rural": rural_driver_count})

print(total_drivers)

                  Urban  Suburban  Rural
Amandaburgh        18.0       NaN    NaN
Barajasview        22.0       NaN    NaN
Barronchester       NaN      16.0    NaN
Bethanyland         NaN      18.0    NaN
Bradshawfurt        NaN       NaN   10.0
...                 ...       ...    ...
West Robert        31.0       NaN    NaN
West Samuelburgh   25.0       NaN    NaN
Williamsonville     NaN      14.0    NaN
Williamsstad       23.0       NaN    NaN
Williamsview       20.0       NaN    NaN

[120 rows x 3 columns]

In [14]:
# Import NumPy and the stats module from SciPy.
import numpy as np
import scipy.stats as sts

In [15]:
#  3. Get the total amount of fares for the Urban city type
urban_fares = urban_cities_df["fare"]
urban_fares.head()

0    13.83
1    30.24
2    33.44
3    23.44
4    34.58
Name: fare, dtype: float64

In [16]:
# Total amount of fares for the Suburban city Type
suburban_fares = suburban_cities_df["fare"]
suburban_fares.head()

1625    27.79
1626    18.75
1627    21.71
1628    17.10
1629    37.78
Name: fare, dtype: float64

In [17]:
# Total amount of fares for the Rural city Type
rural_fares = rural_cities_df["fare"]
rural_fares.head()

2250    43.22
2251    12.42
2252    54.85
2253    47.90
2254    51.80
Name: fare, dtype: float64

In [18]:
#Sum of total fares
total_fares= pd.DataFrame({
            "Urban": urban_fares,
            "Suburban": suburban_fares,
            "Rural": rural_fares})

print(total_fares)

      Urban  Suburban  Rural
0     13.83       NaN    NaN
1     30.24       NaN    NaN
2     33.44       NaN    NaN
3     23.44       NaN    NaN
4     34.58       NaN    NaN
...     ...       ...    ...
2370    NaN       NaN  13.38
2371    NaN       NaN  20.76
2372    NaN       NaN  11.11
2373    NaN       NaN  44.94
2374    NaN       NaN  55.84

[2375 rows x 3 columns]

In [19]:
#  4. Get the average fare per ride for each city type. 
mean_urban_ride_count = np.mean(urban_ride_count)
print(f"The mean for the ride counts for urban trips is {mean_urban_ride_count:.2f}.")

mean_suburban_ride_count = np.mean(suburban_ride_count)
print(f"The mean for the ride counts for suburban trips is {mean_suburban_ride_count:.2f}.")

mean_rural_ride_count = np.mean(rural_ride_count)
print(f"The mean for the ride counts for rural trips is {mean_rural_ride_count:.2f}.")

The mean for the ride counts for urban trips is 24.62.
The mean for the ride counts for suburban trips is 17.36.
The mean for the ride counts for rural trips is 6.94.

In [20]:
# Sum of total fares
mean_ride_count = pd.DataFrame({
            "Urban": [mean_urban_ride_count],
            "Suburban": mean_suburban_ride_count,
            "Rural": mean_rural_ride_count})

# print(mean_ride_count)

In [21]:
# Get the driver count data from the urban cities.
urban_drivers = urban_cities_df['driver_count']
urban_drivers.head()

0     5
1    72
2    57
3    34
4    46
Name: driver_count, dtype: int64

In [22]:
# Get the driver count data from the suburban cities.
suburban_drivers = suburban_cities_df['driver_count']
suburban_drivers.head()

1625    11
1626    20
1627    22
1628    19
1629    12
Name: driver_count, dtype: int64

In [23]:
# Get the driver count data from the rural cities.
rural_drivers = rural_cities_df['driver_count']
rural_drivers.head()

2250    9
2251    8
2252    6
2253    2
2254    2
Name: driver_count, dtype: int64

In [24]:
# 5. Get the average fare per driver for each city type. 
mean_urban_drivers = np.mean(urban_drivers)
print(f"The mean number of urban drivers is {mean_urban_drivers:.2f}.")

mean_suburban_drivers = np.mean(suburban_drivers)
print(f"The mean number of suburban drivers is {mean_suburban_drivers:.2f}.")

mean_rural_drivers = np.mean(rural_drivers)
print(f"The mean number of rural drivers is {mean_rural_drivers:.2f}.")

The mean number of urban drivers is 36.68.
The mean number of suburban drivers is 13.71.
The mean number of rural drivers is 4.30.

In [31]:
mean_drivers = pd.DataFrame({
                "Urban": [mean_urban_drivers],
                "Suburban": mean_suburban_drivers,
                "Rural": mean_rural_drivers
})


# # print(mean_drivers_count)

In [36]:
#  6. Create a PyBer summary DataFrame. 
pyber_data_summary_df = pd.concat([total_drivers, total_ride_count, total_fares, mean_ride_count, mean_drivers], axis=1) 


# pyber_data_summary_df = pd.DataFrame({
#       "Total Drivers": total_drivers,
#       "Total Rides": total_ride_count,
#       "Total Fares": total_fares,
#       "Average Fare Per Ride": mean_ride_count,
#       "Average Fare Per Driver": mean_drivers
#     })
pyber_data_summary_df.head()

,Urban,Suburban,Rural,Urban,Suburban,Rural,Urban,Suburban,Rural,Urban,Suburban,Rural,Urban,Suburban,Rural
0,NaN,NaN,NaN,NaN,NaN,NaN,13.83,NaN,NaN,24.621212,17.361111,6.944444,36.678154,13.712,4.296
1,NaN,NaN,NaN,NaN,NaN,NaN,30.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,33.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,23.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,34.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_data_df = None

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
# Get the sum of the fares for each city type.
sum_fares_by_type_df = pyber_data_df.groupby(["type" , "date"]).sum()["fare"]
sum_fares_by_type_df

In [ ]:
# Get the sum of the fares by date.
sum_fares_by_date = pyber_data_df.groupby(["date"]).sum()["fare"]
sum_fares_by_date

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
df = pyber_data_df
df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
df.pivot(index="date", columns="type" , values="fare")

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
df.loc["2019-01-01":"2019-04-29" , "type"]

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)
df.index = pd.to_datetime(df.index)
# df.index

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()
df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
# df
df.groupby(["date" , "type"]).resample("W").sum()
# df.resample("W").sum()
# df.resample('W', on='Date').sum()
# df.resample("type")
# df.resample

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')